@import './utils/variables.scss';
@import './base/normalise.scss';
@import './utils/utils';
@import './components/logo';
@import './components/header';
@import './components/hero';
@import './components/our-methods';
@import './components/info';
@import './components/our-team';
@import './components/clients';
@import './components/footer';
@import './components/modal';
@import './components/portfolio--filter';
@import './components/portfolio--project-list'; 