/* header */
.header {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #ECECEC;
    
    & .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list,
.contacts {
    display: flex;
    
    @include max-width ($max-mobile) {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    @include min-max ($min-tablet, $max-tablet) {
        margin-left: 86px;
    }
 
    @include min-width ($min-desktop) {
        align-items: center;
        margin-left: 93px;
        padding-left: 0;         
    }

}

.nav__item {
    position: relative;
    @include min-width ($min-tablet) {
        &:not(:first-child) {       
        margin-left: 50px;   
        } 
    }
}

.contacts__item {
    position: relative;
    
    @include min-width ($min-tablet) {
        // gap: 50px;
        display: inline-block;
    }
}

.nav__link--page-active {
    @include min-width ($min-tablet) {
        color: $accent-blue;
        
        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
        
            width: 100%;
            height: 4px;
            background-color: $accent-blue;
            border-radius: 2px;
        }
    }
}

.nav__link,
.contacts__link {
    display: inline-block;

    @include max-width ($max-mobile) {
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        letter-spacing: 0.02em;
    }
}

.nav__link {
    @include min-width ($min-tablet) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contacts {
    @include max-width ($max-mobile) {
        flex-direction: column-reverse;
        margin-top: auto;
        margin-bottom: 64px;
        padding-top: 50px;
    }

    
    @include min-max ($min-tablet, $max-tablet) {
        margin-left: auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    @include min-width ($min-desktop) {
        margin-left: auto;
        gap: 30px;
    }
}

.contacts__link {
    color: $main-font-color;
    
    @include min-max ($min-tablet, $max-tablet) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.contacts__icon {
    @include max-width ($max-mobile) {
        display: none;
    }

    @include min-width ($min-tablet) {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        fill: currentColor;
        
        .contacts__icon--align:hover &,
        .contacts__icon--align:focus & {
            fill: $accent-blue;
            transition: fill 250ms $base-style-animation;
        }

    }
}

.contacts__icon--align {
    display: flex;
}

.header__socials {
    @include max-width ($max-mobile) {
        display: flex;
        flex-wrap: wrap;
    }

    @include min-width ($min-tablet) {
        display: none;
    }
}

.header__link-thumb {
    &:not(:first-child) {
        border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.header__link-socials {
    display: inline-block;
    padding: 0 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $accent-blue;
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    @include max-width ($max-mobile) {
        position: absolute;
        right: 0;
        top: 0;
        padding: 48px 40px;
        z-index: 9;
        
        flex-direction: column;
        justify-content: space-between;
    
        width: 100%;
        height: 100%;
        background-color: #fff;

        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        
        &.is-open {
            visibility: visible;
            opacity: 1;
            pointer-events: all;
            overflow: scroll;
        }
        
    }
}

.header__icon-menu {
    display: flex;
    justify-self: end;
    align-self: center;

    height: 40px;
    width: 40px;

    fill: black;

}

.button-menu {
    border: none;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: $white;
    padding: 0;
    
    @include min-width ($min-tablet) {
        display: none;
    }
}

.contacts__link--tel {
    @include max-width ($max-mobile) {
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: $accent-blue;
    }
}

.contacts__link--mail {
    @include max-width ($max-mobile) {
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }
}

.button-menu {
    z-index: 10;

    background-color: $white;
    border: none;

    @include min-width ($min-tablet) {
        display: none;
    }

    &:hover {
        cursor: pointer;
    } 
}

.button-menu[aria-expanded="false"] {
    & .button__img-close {
        opacity: 0;
    }
    & .button__img-open {
        opacity: 1;
    }
}

.button-menu[aria-expanded="true"] {
    & .button__img-close {
        opacity: 1;
    }

    & .button__img-open {
        opacity: 0;
    }
}



