/* чим ми займаємося */
.info {
    padding-top: 0;
    @include max-width ($max-mobile) {
        display: none;
    }
}

.info__container {
    display: flex;
    flex-direction: column;
}

.info__list {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.info__img-block {
    position: relative;
}

.info__item {
    &:not(:first-child) {
        margin-left: 30px;
    }
}

.info__subtitle {
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $white;
}

.info__aside {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70px;
    background-color: $bg-img-from-text;
}