/* logo */
.logo {
    text-decoration: none;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: $accent-black;
    align-self: center;
}

.logo--blue {
    color: $accent-blue;
}

.logo--white {
    color: $white;
}