/* our team */
.team-info {
    background-color: $team-info-bg;
}

.team-info__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.team-info__team-members {
    display: flex;
    margin-top: 50px;

    @include max-width ($max-mobile) {
        flex-direction: column;
        margin-top: 30px;
        gap: 30px;
    }
}

.team-info__member {
    width: 270px;
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
    @include max-width ($max-mobile) {
        width: 100%;
    }

    @include min-width ($min-desktop) {
        &:not(:first-child) {
            margin-left: 30px;
        }
    }
}

.team-info__member-name {
    margin-top: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-info__member-post {
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.social-media {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-inline-start: 0;
    gap: 10px;
}

.social-media__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $accent-black;
    box-shadow: none;
    transition: fill 2500ms $base-style-animation;
    
    @include min-width ($min-tablet) {
        &:not(:first-child) {
        margin-left: 10px;
        }
    }
}


.social-media__link {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: $bg-socials;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover,
    &:focus {
        background-color: $accent-blue;
        cursor: pointer;
        transition: background-color 250ms $base-style-animation;
    }
}

.social-media__icon {
    height: 20px;
    width: 20px;
    fill: $icon-gray;
    
    .social-media__link:hover &,
    .social-media__link:focus & {
        fill: $white;
        transition: fill 250ms $base-style-animation;
    }
}