body {
    box-sizing: border-box;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;

    background-color: $main-bg-color;
    color: $main-font-color;

}
.body--hidden {
    overflow: hidden;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}