/* bg colors */
$main-bg-color: #FFFFFF;
$hero-bg-color: #2F303A;
$team-info-bg: #F5F4FA;
$bg-socials: rgba(255, 255, 255, 0.1);
$bg-modal: rgba(0, 0, 0, 0.2);
$bg-empty-opacity: rgba(0, 0, 0, 0);
$bg-img-from-text: rgba(47, 48, 58, 0.8);
$bg-hover-item: rgba(33, 150, 243, 0.9);
$btn-hover-color: rgba(41, 204, 233);
$opacity-full: rgba(0, 0, 0, 0);

/* font colors */
$accent-blue: #2196F3;
$accent-black: #000000;
$main-font-black: #212121;
$main-font-color: #757575;
$link-footer-color: rgba(255, 255, 255, 0.6);

$white: #FFFFFF;
$btn-shadow: rgba(0, 0, 0, 0.15);
$icon-gray: #AFB1B8;  

/* animation */
$base-style-animation: cubic-bezier(0.4, 0, 0.2, 1);

// adaptive 
$min-mobile: 480px;
$max-mobile: 767px;

$min-tablet: 768px;
$max-tablet: 1199px;

$min-desktop: 1200px;

